.swagger {
    width: 25rem;
    /* height: 20rem; */
}

.container {}

.heading {
    text-align: center;
    font-family: 'Lunasima', sans-serif;
}

.btn {
    margin: 30px;
}

.carousel {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #DAFFFB;
}

.navigation-icon {
    position: relative;
}

.navigation-icon:hover {
    cursor: pointer;
    
}

figcaption {
    text-align: center;
    font-family: 'Kalam', cursive;
}